@import "@styles/variables.scss";


.customUnitsBlock {

    margin: 16px 0;

    color: $color-white;

    .customUnitsBlockLabel {

        margin-bottom: 14px;

        font-family: $font-default;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
    }
}
