@import "../../variables";



.recipePage {

    min-height: 100%;

    background-color: $color-default;

    display: flex;

    justify-content: center;

    .recipePageElements {

        flex-basis: 60%;

        margin-top: 40px;
        margin-bottom: 80px;

        .recipePageBlockTitle {

            margin-top: 30px;
            padding: 14px 0;

            border-top-style: solid;
            border-top-width: 2px;
            border-top-color: $color-white;

            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color: $color-white;

            color: $color-white;

            text-align: center;

            font-family: "Montserrat";
            font-size: 28px;
            font-weight: 700;
        }
    }
}
