@import "../../variables";



.recipePage {

    min-height: 100%;

    background-color: $color-default;

    display: flex;

    justify-content: center;

    .recipePageElements {

        flex-basis: 60%;

        margin-top: 40px;

    }
}
