@import "../../variables";


.customUnitsBlock {

    margin: 16px 0;

    color: $color-white;

    .customUnitsBlockLabel {

        margin-bottom: 14px;

        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 700;
    }

    .customUnitLine {

        display: flex;

        flex-direction: row;

        margin: 4px 0;

        .customUnitLineInfo {

            display: flex;

            flex-direction: row;
            justify-content: space-around;

            max-width: calc(100% - 40px);
            height: 22px;

            padding: 6px;

            color: $color-grey-dark;
            background-color: $color-white;

            border-style: solid;
            border-width: 1px;
            border-color: $color-grey-light;

            line-height: 22px;

            box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);

            .customUnitLineName {

                max-width: 40%;

                padding-right: 4px;

                color: $color-default;
                background-color: $color-white;

                border-style: solid;
                border-width: 1px;
                border-color: $color-default;

                text-align: right;

                line-height: 18px;

                font-family: "Montserrat";
                font-size: 12px;
                font-weight: 500;
            }

            .customUnitLineEqualSign {

                margin: 0 4px;
            }

            .customUnitLineMeasure {

                display: flex;

                max-width: 30%;

                flex-grow: 1;

                .customUnitLineAmount {

                    width: 60px;

                    padding-right: 4px;
                    margin-right: 2px;

                    color: $color-default;
                    background-color: $color-white;
    
                    border-style: solid;
                    border-width: 1px;
                    border-color: $color-default;
    
                    text-align: right;
    
                    line-height: 18px;
    
                    font-family: "Montserrat";
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }

        .customUnitLineButton {

            margin-right: 4px;

            padding: 7px;

            background-color: $color-white;
            color: $color-default;
    
            border-style: solid;
            border-width: 1px;
            border-color: $color-grey-light;

            box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);

            text-align: center;

            cursor: pointer;
        }
    }
}
