@import "@styles/variables.scss";


.titleBlock {

    margin-bottom: 8px;

    .nameBlock {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-bottom: 8px;

        .name {

            font-family: $font-default;
            font-size: $font-size-extra-large;
            font-weight: $font-weight-bold;

            color: $color-white;
        }

        .brand {

            font-family: $font-default;
            font-size: $font-size-extra-large;
            font-weight: $font-weight-bold;

            color: $color-white;

            text-align: right;
        }
    }

    .subtitleBlock {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 24px;

        padding-bottom: 20px;
        margin-bottom: 20px;

        line-height: 24px;

        border-bottom: 2px solid $color-white;

        .subtitle {

            font-family: $font-default;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;

            color: $color-white;
        }
    }

    .descriptionBlock {

        padding-bottom: 20px;
        margin-bottom: 20px;

        border-bottom: 2px solid $color-white;

        .description {

            font-family: $font-default;
            font-size: $font-size-medium;
            font-weight: $font-weight-medium;

            color: $color-white;
        }
    }
}
