@import "@styles/variables.scss";


.nutritionFactsBlock {
    .nutritionFactsBlockTitle {

        margin-top: 20px;
        margin-bottom: 12px;

        font-family: $font-default;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;

        color: $color-white;

        text-align: center;
    }
}
