
// -----------------------------------------------------------------------------
// COLORS
// -----------------------------------------------------------------------------

// // TEAL - A700
// $color-default: #00bfa5;
// $color-default-dark: #008e76;
// $color-default-light: #5df2d6;

// GREEN - 600
$color-default: #43a047;
$color-default-dark: #00701a;
$color-default-light: #76d275;

$color-alternative: #ff6e40;

$color-black: #000;
$color-white: #fff;

$color-grey-dark: #707070;
$color-grey-light: #e8e8e8;

$color-input-placeholder: #bbb;
$color-input: #707070;

// -----------------------------------------------------------------------------
// FONTS
// -----------------------------------------------------------------------------

$font-default: "Montserrat", sans-serif;

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 22px;
$font-size-extra-large: 32px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// -----------------------------------------------------------------------------
// Z-INDEX
// -----------------------------------------------------------------------------

$z-index-default-0: 0;
$z-index-default-1: 1;

$z-index-navbar-0: 10;
