@import "@styles/variables.scss";


.mainBlock {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .featuredNutritionFacts {

        width: 49%;
    }

    .separator {
        height: 1px;
        background-color: $color-white;
    }
}
