@import "../../variables";


.selectInput {

    @include reset_select;

    width: 48px;

    font-family: $font-default;
    font-size: 14px;
    font-weight: 500;

    line-height: 32px;

    color: $color-default;
    text-align: center;

    &.ingredientUnit {

        width: 58px;

        line-height: 22px;

        border-color: $color-default;
        border-style: solid;
        border-width: 1px;
    }

    &.altIngredientUnit {

        width: 58px;

        line-height: 20px;
    }

    &.customUnit {

        height: 22px;

        line-height: 18px;

        border-color: $color-default;
        border-style: solid;
        border-width: 1px;
    }

    &.subDirectionType {

        width: 100%;

        padding-left: 4px;

        line-height: 22px;

        color: $color-white;

        text-align: left;

        background-color: $color-default-dark;

        border-color: $color-white;
        border-style: solid;
        border-width: 1px;
    }

    option {

        font-family: sans-serif;
        font-size: 14px;
        font-weight: 500;

        color: $color-black;
    }
}
