@import "@styles/variables.scss";


.blockTitle {

    padding: 14px 0;
    margin: 30px 0;

    font-family: $font-default;
    font-size: $font-size-extra-large;
    font-weight: $font-weight-bold;

    color: $color-white;

    text-align: center;

    border-top: 2px solid $color-white;
    border-bottom: 2px solid $color-white;
}
