@import "@styles/variables.scss";


.parametersBlock {

    width: calc(50% - 20px);

    padding-right: 20px;

    .typeSelect {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 20px 0;

        line-height: 32px;

        .typeSelectLabel {

            margin-right: 30px;

            font-family: $font-default;
            font-size: $font-size-16;
            font-weight: $font-weight-500;

            color: $color-white;
        }
    }

    .servingSizeLine {

        display: flex;
        flex-direction: row;

        gap: 4px;
        margin: 12px 0;

        font-family: $font-default;
        font-size: $font-size-16;
        font-weight: $font-weight-500;

        line-height: 32px;

        color: $color-white;

        .servingSizeLineLabel {
            width: 36%;
        }
    }

    .separator {
        height: 1px;
        background-color: $color-white;
    }
}

