@import "@styles/variables.scss";


.selectInput {

    position: relative;

    font-family: $font-default;
    font-size: $font-size-14;
    font-weight: $font-weight-500;

    text-align: left;
    cursor: pointer;

    .selectInputList {
        position: absolute;
        z-index: $z-index-default-1;
    }

    .selectInputOption {
        padding-left: 4px;
        user-select: none;
        border-style: solid;
        border-width: 1px;
    }

    // -------------------------------------------------------------------------
    // WIDTH
    // -------------------------------------------------------------------------

    &.widthSize_Medium {
        width: 60px;

        .selectInputOption {
            width: 60px;
        }
    }

    &.widthSize_Full {
        width: 100%;

        .selectInputList {
            width: 100%;
        }
    }

    // -------------------------------------------------------------------------
    // HEIGHT
    // -------------------------------------------------------------------------

    &.heightSize_Small {
        .selectInputOption {
            height: 20px;
            line-height: 20px;
        }
    }

    &.heightSize_Medium {
        .selectInputOption {
            height: 22px;
            line-height: 22px;
        }
    }

    &.heightSize_Large {
        .selectInputOption {
            height: 32px;
            line-height: 32px;
        }
    }

    // -------------------------------------------------------------------------
    // THEME
    // -------------------------------------------------------------------------

    &.theme_Alternative {
        color: $color-white;
        background-color: $color-default-dark;
        border-color: $color-white;

        .selectInputOption {
            color: $color-white;
            background-color: $color-default-dark;
            border-color: $color-white;
        }
    }

    &.theme_Primary {
        color: $color-default;
        background-color: $color-white;
        border-color: $color-default;

        .selectInputOption {
            color: $color-default;
            background-color: $color-white;
            border-color: $color-default;
        }
    }

    // -------------------------------------------------------------------------
    // ALIGN
    // -------------------------------------------------------------------------

    &.alignCenter {
        text-align: center;

        .selectInputOption {
            padding-left: 0;
        }
    }
}
