@import "../../variables";


.ingredientsBlock {

    .ingredientLine {

        display: flex;
        flex-direction: row;

        margin: 8px 0;

        .lineCheckbox {

            margin: 10px;
        }

        .ingredientInfoLines {

            display: flex;
            flex-direction: column;

            flex-grow: 2;

            .ingredientInfoLine {

                display: flex;
                justify-content: space-between;
    
                background-color: $color-white;
                padding: 10px 12px 10px 20px;
        
                color: $color-default;
        
                border-style: solid;
                border-width: 1px;
                border-color: $color-grey-light;
        
                box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);
        
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 500;
        
                .ingredientInfoLineName {

                    line-height: 24px;
                }

                .ingredientInfoLineMeasure {

                    display: flex;
                    flex-direction: row;

                    .ingredientInfoLineAmount {

                        width: 80px;

                        padding-right: 4px;

                        color: $color-grey-dark;

                        line-height: 22px;
                        text-align: right;
    
                        border-style: solid;
                        border-width: 1px;
                        border-color: $color-grey-light;         
                    }
                }
            }

            .altIngredientInfoLine {

                display: flex;
                justify-content: space-between;

                margin: 8px 2px 0 2px;

                background-color: $color-default;
                padding: 6px 12px 6px 20px;
        
                color: $color-white;
        
                border-style: solid;
                border-width: 1px;
                border-color: $color-white;
        
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 500;
        
                .ingredientInfoLineName {

                    line-height: 22px;
                }

                .ingredientInfoLineMeasure {

                    display: flex;
                    flex-direction: row;

                    .ingredientInfoLineAmount {

                        width: 80px;

                        padding-right: 4px;

                        line-height: 20px;
                        text-align: right;
    
                        border-style: solid;
                        border-width: 1px;
                        border-color: rgba($color: $color-white, $alpha: 0.5);        
                    }
                }
            }

            .ingredientInfoLineNutritionFacts {

                display: flex;
                flex-direction: row;

                justify-content: space-evenly;

                margin-top: 8px;

                .ingredientInfoLineNutritionFact {

                    display: flex;
                    flex-direction: column;

                    flex: 1;

                    margin: 0 2px;

                    text-align: center;

                    border-style: solid;
                    border-width: 1px;
                    border-color: $color-white;

                    .ingredientInfoLineNutritionFactAmount {

                        margin: 0 16px;
                        margin-top: 4px;

                        font-family: "Montserrat";
                        font-size: 32px;
                        font-weight: 700;

                        color: $color-white;

                        border-bottom-style: solid;
                        border-bottom-width: 2px;
                        border-bottom-color: $color-white;
                    }

                    .ingredientInfoLineNutritionFactType {

                        margin: 4px 0;

                        font-family: "Montserrat";
                        font-size: 14px;
                        font-weight: 700;

                        color: $color-white;
                    }
                }
            }
        }

        .ingredientLineButton {

            width: 44px;
            height: 24px;
            line-height: 24px;

            margin-left: 8px;

            background-color: $color-white;
            padding: 10px 0;
    
            color: $color-default;
    
            border-style: solid;
            border-width: 1px;
            border-color: $color-grey-light;
    
            box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);
    
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 500;

            text-align: center;

            cursor: pointer;
        }
    }
}

.lineCheckbox {

    width: 22px;
    height: 22px;

    background-color: $color-default-dark;

    border-style: solid;
    border-width: 2px;
    border-color: $color-white;

    cursor: pointer;
}
