@import "@styles/variables";


.selectInput {

    font-family: $font-default;
    font-size: 14px;
    font-weight: 500;

    color: $color-white;

    text-align: center;

    cursor: pointer;

    background-color: $color-default-dark;

    .selectInputList {
        position: absolute;
        z-index: 1;
    }

    .selectInputGroupName,
    .selectInputOption {

        width: 44px;

        user-select: none;

        background-color: $color-default-dark;

        border-color: $color-white;
        border-style: solid;
        border-width: 1px;
    }

    &.ingredientUnit {
        .selectInputGroupName,
        .selectInputOption {

            width: 58px;

            height: 22px;
            line-height: 22px;

            color: $color-default;
            background-color: $color-white;

            border-color: $color-default;
        }
    }

    &.altIngredientUnit {
        .selectInputGroupName,
        .selectInputOption {

            width: 58px;

            height: 22px;
            line-height: 22px;
        }
    }

    &.servingSize {
        .selectInputGroupName,
        .selectInputOption {

            width: 80px;
        }
    }

    &.customUnit {
        .selectInputGroupName,
        .selectInputOption {

            width: 48px;

            height: 20px;
            line-height: 20px;

            color: $color-default;
            background-color: $color-white;

            border-color: $color-default;
        }
    }

    &.subDirectionType {

        position: relative;

        width: 100%;

        .selectInputList {

            width: 100%;
        }

        .selectInputGroupName {

            height: 22px;

            padding-left: 4px;

            line-height: 22px;

            color: $color-input-placeholder;

            text-align: left;

            cursor: default;

            background-color: $color-default-dark;
        }

        .selectInputOption {

            height: 22px;

            padding-left: 4px;

            line-height: 22px;

            color: $color-white;

            text-align: left;

            background-color: $color-default-dark;
        }
    }
}
