@import "@styles/variables.scss";


.ingredientInfoLine {

    display: flex;
    justify-content: space-between;

    padding: 10px 12px 10px 20px;

    font-family: $font-default;
    font-size: $font-size-16;
    font-weight: $font-weight-500;

    color: $color-default;

    background-color: $color-white;

    border-color: $color-grey-light;
    border-style: solid;
    border-width: 1px;

    box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);

    &.newIngredient {

        font-weight: $font-weight-700;

        color: rgba($color: $color-default, $alpha: 0.25);
    }

    .ingredientInfoLineName {

        flex-grow: 2;

        line-height: 24px;

        cursor: pointer;
    }

    .ingredientInfoLineMeasure {

        display: flex;
        flex-direction: row;

        .ingredientInfoLineAmountText {

            width: 80px;

            padding-right: 4px;
            margin-right: 4px;

            line-height: 22px;

            color: $color-grey-dark;

            text-align: right;

            border-color: $color-grey-light;
            border-style: solid;
            border-width: 1px;
        }

        .ingredientInfoLineAmountInput {

            width: 80px;

            padding-right: 4px;
            margin-right: 4px;

            font-family: $font-default;
            font-size: $font-size-16;
            font-weight: $font-weight-500;

            line-height: 20px;

            color: $color-default;

            text-align: right;

            border-color: $color-default;
            border-style: solid;
            border-width: 1px;
        }
    }
}
