@import "@styles/variables.scss";


.directionLine {

    display: flex;
    flex-direction: row;

    gap: 8px;
    margin: 8px 0;

    .directionInfoLines {

        display: flex;
        flex-direction: column;
        flex-grow: 2;

        .directionInfoLine {

            display: flex;
            justify-content: space-between;

            padding: 10px 12px 10px 20px;

            font-family: $font-default;
            font-size: $font-size-16;
            font-weight: $font-weight-500;

            color: $color-default;

            background-color: $color-white;

            border-color: $color-grey-light;
            border-style: solid;
            border-width: 1px;

            box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);

            &.newDirection {

                padding: 10px 12px;

                font-weight: $font-weight-700;

                color: rgba($color: $color-default, $alpha: 0.25);
            }

            .directionInfoLineTitle {

                display: flex;
                flex-direction: row;
                flex-grow: 2;

                cursor: pointer;

                .directionInfoLineIndex {

                    width: 28px;

                    font-weight: $font-weight-700;

                    line-height: 24px;
                }

                .directionInfoLineName {

                    line-height: 24px;
                }

                .directionInfoLineIndexInput {

                    width: 24px;

                    margin-right: 4px;

                    font-family: $font-default;
                    font-size: $font-size-16;
                    font-weight: $font-weight-500;

                    line-height: 20px;

                    color: $color-default;

                    text-align: center;

                    border-color: $color-default;
                    border-style: solid;
                    border-width: 1px;
                }

                .directionInfoLineNameInput {

                    flex-grow: 2;

                    padding-left: 4px;
                    margin-right: 4px;

                    font-family: $font-default;
                    font-size: $font-size-16;
                    font-weight: $font-weight-500;

                    line-height: 20px;

                    color: $color-default;

                    text-align: left;

                    border-color: $color-default;
                    border-style: solid;
                    border-width: 1px;
                }
            }


            .directionInfoLineMeasures {

                display: flex;
                flex-direction: row;
                gap: 4px;

                .directionInfoLineMeasure {

                    display: flex;
                    gap: 4px;

                    .directionInfoLineAmount {

                        width: 80px;

                        padding-right: 4px;

                        line-height: 22px;

                        color: $color-grey-dark;

                        text-align: right;

                        border-color: $color-grey-light;
                        border-style: solid;
                        border-width: 1px;
                    }

                    .directionInfoLineAmountInput {

                        width: 60px;

                        padding-right: 4px;

                        font-family: $font-default;
                        font-size: $font-size-16;
                        font-weight: $font-weight-500;

                        line-height: 20px;

                        color: $color-default;

                        text-align: right;

                        border-color: $color-default;
                        border-style: solid;
                        border-width: 1px;
                    }
                }
            }
        }
    }

    .directionLineButton {

        width: 44px;
        height: 24px;

        padding: 10px 0;

        font-family: $font-default;
        font-size: $font-size-16;
        font-weight: $font-weight-500;

        line-height: 24px;

        color: $color-default;

        text-align: center;

        cursor: pointer;

        background-color: $color-white;

        border-color: $color-grey-light;
        border-style: solid;
        border-width: 1px;

        box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);
    }
}
