@import "@styles/variables";


.customUnitLine {

    display: flex;
    flex-direction: row;

    margin: 4px 0;

    .customUnitLineInfo {

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        max-width: calc(100% - 40px);
        height: 22px;

        padding: 6px;

        line-height: 22px;

        color: $color-grey-dark;

        background-color: $color-white;

        border-color: $color-grey-light;
        border-style: solid;
        border-width: 1px;

        box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);

        .customUnitLineName {

            max-width: 40%;

            padding-right: 4px;

            font-family: $font-default;
            font-size: 12px;
            font-weight: 500;

            line-height: 18px;

            color: $color-default;

            text-align: right;

            background-color: $color-white;

            border-color: $color-default;
            border-style: solid;
            border-width: 1px;
        }

        .customUnitLineEqualSign {

            margin: 0 4px;
        }

        .customUnitLineMeasure {

            display: flex;
            flex-grow: 1;

            max-width: 30%;

            .customUnitLineAmount {

                width: 60px;

                padding-right: 4px;
                margin-right: 2px;

                font-family: $font-default;
                font-size: 12px;
                font-weight: 500;

                line-height: 18px;

                color: $color-default;

                text-align: right;

                background-color: $color-white;

                border-color: $color-default;
                border-style: solid;
                border-width: 1px;
            }
        }
    }

    .customUnitLineButton {

        padding: 7px;
        margin-right: 4px;

        color: $color-default;

        text-align: center;

        cursor: pointer;

        background-color: $color-white;

        border-color: $color-grey-light;
        border-style: solid;
        border-width: 1px;

        box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);
    }
}
