@import "@styles/variables";


.customUnitsBlock {

    margin: 16px 0;

    color: $color-white;

    .customUnitsBlockLabel {

        margin-bottom: 14px;

        font-family: $font-default;
        font-size: 18px;
        font-weight: 700;
    }
}
