@import "../../variables";



.recipePage {

    .description {

        margin: 20px 0;

        color: $color-input;

        font-family: "Montserrat";
        font-size: 22px;
        font-weight: 400;
    }
}
