@import "@styles/variables.scss";


.detailedNutritionFacts {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .detailedNutritionFactsColumn {

        display: flex;
        flex-direction: column;

        width: 49%;
    }
}
