@import "@styles/variables.scss";


.recipePage {

    display: flex;
    justify-content: center;

    min-height: 100vh;

    background-color: $color-default;

    .recipePageElements {

        flex-basis: 60%;

        margin-top: 20px;
        margin-bottom: 80px;

        .pageControls {

            display: flex;

            gap: 4px;
            margin-bottom: 20px;
        }
    }
}
