@import "@styles/variables";


.ingredientsBlock {
    .ingredientLine {

        display: flex;
        flex-direction: row;
        gap: 8px;

        margin: 8px 0;

        .lineCheckbox {

            margin: 10px;
            margin-right: 2px;
        }

        .ingredientInfoLines {

            display: flex;
            flex-direction: column;
            flex-grow: 2;

            .ingredientInfoLine {

                display: flex;
                justify-content: space-between;

                padding: 10px 12px 10px 20px;

                font-family: $font-default;
                font-size: 16px;
                font-weight: 500;

                color: $color-default;

                background-color: $color-white;

                border-color: $color-grey-light;
                border-style: solid;
                border-width: 1px;

                box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);

                &.newIngredient {

                    font-weight: 700;

                    color: rgba($color: $color-default, $alpha: 0.25);
                }

                .ingredientInfoLineName {

                    flex-grow: 2;

                    line-height: 24px;

                    cursor: pointer;
                }

                .ingredientInfoLineMeasure {

                    display: flex;
                    flex-direction: row;

                    .ingredientInfoLineAmountText {

                        width: 80px;

                        padding-right: 4px;
                        margin-right: 4px;

                        line-height: 22px;

                        color: $color-grey-dark;

                        text-align: right;

                        border-color: $color-grey-light;
                        border-style: solid;
                        border-width: 1px;
                    }

                    .ingredientInfoLineAmountInput {

                        width: 80px;

                        padding-right: 4px;
                        margin-right: 4px;

                        font-family: $font-default;
                        font-size: 16px;
                        font-weight: 500;

                        line-height: 20px;

                        color: $color-default;

                        text-align: right;

                        border-color: $color-default;
                        border-style: solid;
                        border-width: 1px;
                    }
                }
            }

            .ingredientInfoLineNutritionFacts {

                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                margin-top: 8px;

                .ingredientInfoLineNutritionFact {

                    display: flex;
                    flex: 1;
                    flex-direction: column;

                    margin: 0 2px;

                    text-align: center;

                    border-color: $color-white;
                    border-style: solid;
                    border-width: 1px;

                    .ingredientInfoLineNutritionFactAmount {

                        margin: 0 16px;
                        margin-top: 4px;

                        font-family: $font-default;
                        font-size: 32px;
                        font-weight: 700;

                        color: $color-white;

                        border-bottom-color: $color-white;
                        border-bottom-style: solid;
                        border-bottom-width: 2px;
                    }

                    .ingredientInfoLineNutritionFactType {

                        margin: 4px 0;

                        font-family: $font-default;
                        font-size: 14px;
                        font-weight: 700;

                        color: $color-white;
                    }
                }
            }
        }

        .ingredientLineButton {

            width: 44px;
            height: 24px;

            padding: 10px 0;

            line-height: 24px;

            color: $color-default;

            text-align: center;

            cursor: pointer;

            background-color: $color-white;

            border-color: $color-grey-light;
            border-style: solid;
            border-width: 1px;

            box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);
        }
    }

    .altIngredientLine {

        display: flex;
        flex-direction: row;
        gap: 4px;

        margin: 8px 2px 0 2px;

        .altIngredientLineButton {

            width: 36px;
            height: 24px;

            padding: 6px 0;

            line-height: 24px;

            color: $color-white;

            text-align: center;

            cursor: pointer;

            background-color: $color-default;

            border-color: $color-white;
            border-style: solid;
            border-width: 1px;
        }

        .altIngredientInfoLine {

            display: flex;
            flex-grow: 2;
            justify-content: space-between;

            padding: 6px 12px 6px 20px;

            font-family: $font-default;
            font-size: 16px;
            font-weight: 500;

            color: $color-white;

            background-color: $color-default;

            border-color: $color-white;
            border-style: solid;
            border-width: 1px;

            &.newIngredient {

                font-weight: 700;

                color: rgba($color: $color-white, $alpha: 0.25);
            }

            .ingredientInfoLineName {

                flex-grow: 2;

                line-height: 24px;

                cursor: pointer;
            }

            .ingredientInfoLineMeasure {

                display: flex;
                flex-direction: row;

                .ingredientInfoLineAmountText {

                    width: 80px;

                    padding-right: 4px;
                    margin-right: 4px;

                    line-height: 20px;

                    text-align: right;

                    border-color: rgba($color: $color-white, $alpha: 0.5);
                    border-style: solid;
                    border-width: 1px;
                }

                .ingredientInfoLineAmountInput {

                    width: 80px;

                    padding-right: 4px;
                    margin-right: 4px;

                    font-family: $font-default;
                    font-size: 16px;
                    font-weight: 500;

                    line-height: 18px;

                    color: $color-white;

                    text-align: right;

                    background-color: $color-default-dark;

                    border-color: $color-white;
                    border-style: solid;
                    border-width: 1px;
                }
            }
        }
    }

    .separator {

        height: 2px;

        margin: 12px 100px 4px 100px;

        background-color: $color-white;
    }


    .lineCheckbox {

        width: 22px;
        height: 22px;

        cursor: pointer;

        background-color: $color-default-dark;

        border-color: $color-white;
        border-style: solid;
        border-width: 2px;

        .lineCheckboxMark {

            width: 16px;
            height: 16px;

            margin: 3px;

            background-color: $color-white;
        }
    }
}

