@import "@styles/variables.scss";


.nutritionFactLine {

    display: flex;

    padding: 6px 0;
    margin: 4px 0;

    font-family: $font-default;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;

    line-height: 22px;

    color: $color-grey-dark;

    background-color: $color-white;

    border-color: $color-grey-light;
    border-style: solid;
    border-width: 1px;

    box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);

    .nutritionFactName {

        width: 36%;
        margin-left: 16px;
    }

    .nutritionFactUnit {

        width: 14%;
        margin-left: 4px;
    }

    .nutritionFactDailyValue {
        width: 8%;
        margin-right: 4px;

        font-weight: $font-weight-regular;

        text-align: right;
    }

    .nutritionFactPercent {
        width: 3%;

        font-weight: $font-weight-regular;
    }
}

.subNutrientLine {

    display: flex;

    padding: 6px 0;
    margin: 4px;

    font-family: $font-default;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;

    line-height: 22px;

    color: $color-white;

    background-color: $color-default;

    border-color: $color-white;
    border-style: solid;
    border-width: 1px;

    .nutritionFactName {

        width: 36.72%;
        margin-left: 12px;
    }

    .nutritionFactUnit {

        width: 14.5%;
        margin-left: 4px;
    }

    .nutritionFactDailyValue {

        width: 8.2%;
        margin-right: 4px;
        font-weight: $font-weight-regular;

        text-align: right;
    }

    .nutritionFactPercent {

        width: 3%;
        font-weight: $font-weight-regular;
    }
}
