@import "@styles/variables.scss";


.nutrientLine {

    display: flex;

    padding: 6px 0;
    margin: 4px 0;

    font-family: $font-default;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;

    line-height: 22px;

    color: $color-grey-dark;

    background-color: $color-white;

    border-color: $color-grey-light;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;

    .nutrientName {
        width: 36%;
        margin-left: 16px;
    }

    .nutrientUnit {
        width: 14%;
        margin-left: 4px;
    }

    .nutrientDailyValue {
        width: 8%;
        margin-right: 4px;

        font-weight: $font-weight-regular;

        text-align: right;
    }

    .nutrientPercent {
        width: 3%;

        font-weight: $font-weight-regular;
    }
}

.subNutrientLine {

    display: flex;

    padding: 6px 0;
    margin: 4px;

    font-family: $font-default;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;

    line-height: 22px;

    color: $color-white;

    background-color: $color-default;

    border-color: $color-white;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;

    .nutrientName {

        width: 36.72%;
        margin-left: 12px;
    }

    .nutrientUnit {

        width: 14.5%;
        margin-left: 4px;
    }

    .nutrientDailyValue {

        width: 8.2%;
        margin-right: 4px;
        font-weight: $font-weight-regular;

        text-align: right;
    }

    .nutrientPercent {

        width: 3%;
        font-weight: $font-weight-regular;
    }
}
