@import "@styles/variables";


.nutritionFactsBlock {
    .nutritionFactsBlockTitle {

        margin-top: 20px;
        margin-bottom: 12px;

        font-family: $font-default;
        font-size: 24px;
        font-weight: 700;

        color: $color-white;

        text-align: center;
    }
}
