@import "@styles/variables";


.foodPage {

    display: flex;
    justify-content: center;

    min-height: 100vh;

    background-color: $color-default;

    .foodPageElements {

        flex-basis: 60%;

        margin-top: 40px;
        margin-bottom: 80px;

        .mainBlock {

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .parametersBlock {

                width: calc(50% - 20px);

                padding-right: 20px;

                .typeSelect {

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    padding: 20px 0;

                    line-height: 32px;

                    .typeSelectLabel {

                        margin-right: 30px;

                        font-family: $font-default;
                        font-size: 16px;
                        font-weight: 500;

                        color: $color-white;
                    }

                    .typeSelectInput {

                        flex-grow: 2;

                        padding-left: 8px;
                        margin-right: 10px;

                        font-family: $font-default;
                        font-size: 20px;
                        font-weight: 500;

                        color: $color-white;

                        background-color: $color-default-dark;

                        border: 1px solid $color-white;
                    }
                }


                .densityLine {

                    display: flex;
                    flex-direction: row;

                    margin: 12px 0;

                    font-family: $font-default;
                    font-size: 16px;
                    font-weight: 500;

                    line-height: 32px;

                    color: $color-white;

                    .densityLineLabel {

                        width: 36%;
                    }

                    .densityLineInput {

                        width: 30%;

                        padding-right: 8px;
                        margin-right: 4px;

                        font-family: $font-default;
                        font-size: 18px;
                        font-weight: 500;

                        color: $color-white;

                        text-align: right;

                        background-color: $color-default-dark;

                        border-color: $color-white;
                        border-style: solid;
                        border-width: 1px;
                    }
                }

                .servingSizeLine {

                    display: flex;
                    flex-direction: row;

                    margin: 12px 0;

                    font-family: $font-default;
                    font-size: 16px;
                    font-weight: 500;

                    line-height: 32px;

                    color: $color-white;

                    .servingSizeLineLabel {

                        width: 36%;
                    }

                    .servingSizeLineInput {

                        width: 30%;

                        padding-right: 8px;
                        margin-right: 4px;

                        font-family: $font-default;
                        font-size: 18px;
                        font-weight: 500;

                        color: $color-white;

                        text-align: right;

                        background-color: $color-default-dark;

                        border-color: $color-white;
                        border-style: solid;
                        border-width: 1px;
                    }
                }
            }

            .featuredNutritionFacts {

                width: 49%;
            }
        }

        .separator {
            height: 1px;
            background-color: $color-white;
        }
    }
}
