@import "@styles/variables.scss";


.rbaInput {

    padding: 0 4px;

    font-family: $font-default;
    font-weight: $font-weight-regular;

    border-style: solid;
    border-width: 1px;
    border-radius: 2px;

    // -------------------------------------------------------------------------
    // TEXT ALIGN
    // -------------------------------------------------------------------------

    &.textAlign_Left {
        text-align: left;
    }

    &.textAlign_Center {
        text-align: center;
    }

    &.textAlign_Right {
        text-align: right;
    }

    // -------------------------------------------------------------------------
    // THEME
    // -------------------------------------------------------------------------

    &.theme_Alternative {

        color: $color-white;
        background-color: $color-default-dark;
        border-color: $color-white;

        &.disabled {
            color: $color-white;
            background-color: $color-default;
            border-color: rgba($color: $color-white, $alpha: 0.5);
        }
    }

    &.theme_Primary {

        color: $color-default;
        border-color: $color-default;

        &.disabled {
            color: $color-grey-dark;
            border-color: $color-grey-light;
        }
    }

    // -------------------------------------------------------------------------
    // WIDTH
    // -------------------------------------------------------------------------

    &.widthSize_Small {
        width: 24px;
        min-width: 24px;
    }

    &.widthSize_Medium {
        width: 80px;
    }

    &.widthSize_Large {
        width: 120px;
    }

    &.widthSize_Full {
        width: 100%;
    }

    // -------------------------------------------------------------------------
    // HEIGHT
    // -------------------------------------------------------------------------

    &.heightSize_Small {
        height: 20px;
        font-size: $font-size-small;
    }

    &.heightSize_Medium {
        height: 22px;
        font-size: $font-size-medium;
    }

    &.heightSize_Large {
        height: 32px;
        padding: 0 8px;
        font-size: $font-size-large;
    }
}
