@import "@styles/variables.scss";


.rbaButton {

    padding: 4px;

    font-family: $font-default;

    text-align: center;

    user-select: none;

    border-style: solid;
    border-width: 1px;
    border-radius: 2px;

    &.disabled {
        opacity: 0.5;

        &:hover {
            color: $color-default;
            cursor: not-allowed;
            background-color: $color-white;
        }
    }

    &:hover {
        color: $color-default-dark;
        cursor: pointer;
        background-color: $color-grey-light;
    }

    // -------------------------------------------------------------------------
    // WIDTH
    // -------------------------------------------------------------------------

    &.widthSize_Medium {
        width: 160px;
    }

    &.widthSize_Full {
        width: 100%;
    }

    // -------------------------------------------------------------------------
    // HEIGHT
    // -------------------------------------------------------------------------

    &.heightSize_Medium {
        height: 34px;
    }

    &.heightSize_Full {
        height: 100%;
    }

    // -------------------------------------------------------------------------
    // THEME
    // -------------------------------------------------------------------------

    &.theme_Primary {
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;

        color: $color-default;
        background-color: $color-white;
        border-color: $color-grey-light;
    }

    &.theme_PrimarySmall {
        font-size: $font-size-small;
        font-weight: $font-weight-medium;

        color: $color-default;
        background-color: $color-white;
        border-color: $color-grey-light;
    }
}
