@import "@styles/variables";


.messageBlock {

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    font-family: $font-default;
    font-size: 36px;
    font-weight: 500;

    color: $color-white;

    background-color: $color-default;
}
