@import "../../variables";


.nutritionFactsBlock {

    .nutritionFactsBlockTitle {

        margin-top: 20px;
        margin-bottom: 12px;

        text-align: center;

        color: $color-white;

        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 700;
    }

    .nutritionFactLine {

        display: flex;

        background-color: $color-white;
        padding: 6px 0;
        margin: 4px 0;

        color: $color-grey-dark;

        border-style: solid;
        border-width: 1px;
        border-color: $color-grey-light;

        box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);

        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 500;

        line-height: 22px;

        .nutritionFactName {

            width: 36%;

            margin-left: 16px;
        }

        .nutritionFactAmountInput {

            max-width: 20%;

            text-align: right;

            margin-right: 4px;
            padding-right: 4px;

            color: $color-default;

            border-style: solid;
            border-width: 1px;
            border-color: $color-default;

            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 500;
        }

        .nutritionFactAmountText {

            width: 20%;

            text-align: right;

            margin-right: 4px;
            padding-right: 4px;

            color: $color-grey-dark;

            border-style: solid;
            border-width: 1px;
            border-color: $color-grey-light;

            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 500;
        }

        .nutritionFactUnit {

            width: 14%;
        }   

        .nutritionFactDailyValue {

            width: 8%;

            text-align: right;

            margin-right: 4px;
        }

        .nutritionFactPercent {

            width: 3%;
        }

    }

    .subNutrientLine {

        display: flex;

        color: $color-white;

        background-color: $color-default;
        padding: 6px 0;
        margin: 4px;

        border-style: solid;
        border-width: 1px;
        border-color: $color-white;

        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 500;

        line-height: 22px;

        .nutritionFactName {

            width: 36.72%;

            margin-left: 12px;
        }

        .nutritionFactAmountInput {

            max-width: 20.7%;

            text-align: right;

            background-color: $color-default-dark;
            margin-right: 4px;
            padding-right: 4px;

            color: $color-white;

            border-style: solid;
            border-width: 1px;
            border-color: $color-white;

            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 500;
        }

        .nutritionFactAmountText {

            width: 20.7%;

            text-align: right;

            background-color: $color-default;
            margin-right: 4px;
            padding-right: 4px;

            color: $color-white;

            border-style: solid;
            border-width: 1px;
            border-color: rgba($color: $color-white, $alpha: 0.5);

            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 500;
        }

        .nutritionFactUnit {

            width: 14.5%;
        }   

        .nutritionFactDailyValue {

            width: 8.2%;

            text-align: right;

            margin-right: 4px;
        }

        .nutritionFactPercent {

            width: 3%;
        }

    }
}
