
$color-default: #00bfa5;
$color-default-dark: #008e76;
$color-default-light: #5df2d6;

$color-black: #000;
$color-white: #fff;

$color-grey-dark: #707070;
$color-grey-light: #e8e8e8;

// $color-background-dark: #303030;

$color-input-placeholder: #bbb;
$color-input: #707070;

// $z-index-header: 1;
// $z-index-dashboard-settings: 2;


@mixin reset_select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 0;
    border: none;
    -webkit-border-radius: none;
       -moz-border-radius: none;
            border-radius: none;
}

html, body {

   select:focus,
   input:focus,
   textarea:focus {

       outline: none;
   }
}

input {
   min-width: 0;
}
