@import "@styles/variables.scss";


.customUnitLine {

    display: flex;
    flex-direction: row;

    margin: 4px 0;

    .customUnitLineInfo {

        display: flex;

        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        height: 22px;

        padding: 6px 16px;

        line-height: 22px;

        color: $color-grey-dark;
        background-color: $color-white;

        border-color: $color-grey-light;
        border-style: solid;
        border-width: 1px;

        box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);

        .customUnitLineSeparator {
            margin: 0 12px;

            font-family: $font-default;
            font-size: $font-size-small;
            font-weight: $font-weight-medium;
        }

        .customUnitLineMeasure {

            display: flex;
            flex-grow: 1;

            gap: 2px;
            max-width: 40%;
        }
    }

    .customUnitLineButton {

        height: 20px;

        padding: 7px;
        margin-right: 4px;

        color: $color-default;

        text-align: center;

        cursor: pointer;

        background-color: $color-white;

        border-color: $color-grey-light;
        border-style: solid;
        border-width: 1px;

        box-shadow: 2px 2px 2px 1px rgba($color: $color-black, $alpha: 0.16);
    }
}
