@import "@styles/variables.scss";


.foodPage {

    display: flex;
    justify-content: center;

    min-height: 100vh;

    background-color: $color-default;

    .foodPageElements {

        flex-basis: 60%;

        margin-top: 40px;
        margin-bottom: 80px;

        .mainBlock {

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .featuredNutritionFacts {

                width: 49%;
            }
        }

        .separator {
            height: 1px;
            background-color: $color-white;
        }
    }
}
