<!DOCTYPE html>
<html style="height: 100%; min-height: 100%;">
    <head>
        <meta charset="UTF-8" />
        <title>Recipe Book</title>

        <link rel="icon" href="/favicon.ico" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700">

    </head>
    <body style="height: 100%; min-height: 100%; margin: 0;">

        <div id="content" style="height: 100%; min-height: 100%;"></div>

        <!-- Dependencies -->
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js"></script>

        <script crossorigin src="https://unpkg.com/redux@4.0.5/dist/redux.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-redux@7.2.0/dist/react-redux.min.js"></script>
        <script crossorigin src="https://unpkg.com/redux-saga@1.1.3/dist/redux-saga.umd.min.js"></script>

        <script crossorigin src="https://unpkg.com/react-is@17/umd/react-is.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/styled-components@5.2.0/dist/styled-components.min.js"></script>
        
        <!-- Main -->
        <script src="/client.bundle.js"></script>
    </body>
</html>
